@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: initial;
}

body {
  font-family: 'Noto Sans SC', sans-serif;
  --background: #060608;
  --color: #FAFAFA;
}

#app {
  min-height: 100vh;
}

.marquee-container {
  overflow-x: visible !important;
}

@layer components {
  .fit {
    @apply w-full h-full object-cover
  }
}

.stack {
  display: grid;
  grid-template-columns: 1fr;
}

.stack span {
  grid-row-start: 1;
  grid-column-start: 1;
  --stack-height: calc(100% / var(--stacks) - 1px);
  --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
  --clip-top: calc(var(--stack-height) * var(--index));
  --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
  clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
  animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch .6s ease infinite .6s alternate-reverse;
}

.stack span:nth-child(odd) {
  --glitch-translate: 8px;
}

.stack span:nth-child(even) {
  --glitch-translate: -8px;
}

@keyframes stack {
  0% {
    opacity: 0;
    transform: translateX(-50%);
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
  }
  60% {
    opacity: 0.5;
    transform: translateX(50%);
  }
  80% {
    transform: none;
    opacity: 1;
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  100% {
    text-shadow: none;
  }
}

@keyframes glitch {
  0% {
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    transform: translate(var(--glitch-translate));
  }
  2% {
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  4%, 100% {
    text-shadow: none;
    transform: none;
  }
}


.text-stroke {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: #fdf800;
  -webkit-text-stroke-width: 1px;
}

.text-stroke-white {
  -webkit-text-fill-color: black;
  -webkit-text-stroke: white;
  -webkit-text-stroke-width: 1px;
}

.text-revert {
  -webkit-text-fill-color: initial;
  -webkit-text-stroke: initial;
/*  -webkit-text-stroke-width: 1px;*/
}

.text-stroke-red {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: gray;
  -webkit-text-stroke-width: 1px;
}
